* {
    color: #434141;
}

body {
    background-color: #dedbdb5e;
}

.navigationBar, .chord-block, .action-button {
    background-color: #713b1cd3;
}

.navbar-brand {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1rem !important;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
    line-height: var(--bs-body-line-height) !important;
    display: flex;
    align-items: center;
    padding-left: 1rem !important;
}

.titleHomepage {
    font-size: 60px;
    text-align: center;
}

.homepageImg {
    width: 100%;
    height: 560px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.selectChordText {
    text-align: center;
    color: rgba(0, 0, 0, 0.659);
}

.chord-container {
    text-align: center;
    padding-top: 40px;
}

.chord-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.chord-block, .action-button {
    stroke: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chord-block {
    width: 80px;
    height: 80px;
    font-size: 24px;
}

.chord-actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
}