{% extends "layout.html" %}

{% block title %}Basic guitar chords{% endblock %}

{% block content %}
<div class="homepage-container text-center"> 
    <h1 class="homepage-title">Learn Basic Guitar Chords</h1>
    
    <div class="homepage-image-wrapper">
        <img src="{{ url_for('static', filename='images/Guitar_Playing.jpg') }}" 
             alt="Close up of person playing guitar" 
             class="homepage-image img-fluid">
    </div>
    
    <div class="homepage-intro">
        <p class="homepage-subtitle">Master the essential chords quickly and easily with interactive lessons and quizzes.</p>
        <div class="homepage-actions">
            <a href="{{ url_for('learn') }}" class="btn-home btn-primary">Start Learning</a>
            <a href="{{ url_for('start_quiz') }}" class="btn-home btn-secondary">Take the Quiz</a>
        </div>
    </div>
</div>
{% endblock %}