{% extends "layout.html" %}

{% block title %}Basic guitar chords{% endblock %}

{% block content %}
    <div class="titleHomepage"><strong>Learn the basic guitar chords</strong></div>
    <img src="https://github.com/SarahNasser576/Sarah_Tesfalem_Samuel_UI-Design_Final-Project/blob/main/images/Guitar_Playing_1.jpg?raw=true" 
        alt="Close up of person playing guitar" 
        class="homepageImg img-fluid">
    
    <!-- Add Go to Learn button -->
    <div class="text-center mt-4 mb-4"> {# Center the button and add margin #}
        <a href="{{ url_for('learn') }}" class="btn btn-primary btn-lg action-button">Go to Learn</a> {# Styled button linking to learn page #}
    </div>
{% endblock %}