{% extends "layout.html" %}

{% block title %}Learn{% endblock %}

{% block content %}
<div class="chord-container">
    <div class="selectChordText">Select Chord</div>
    <div class="chord-grid">
        <button class="chord-block">A</button>
        <button class="chord-block">D</button>
        <button class="chord-block">E</button>
        <button class="chord-block">Am</button>
        <button class="chord-block">Em</button>
        <button class="chord-block">Dm</button>
        <button class="chord-block">G</button>
    </div>
    <div class="chord-actions">
        <button class="action-button">Learn in Order</button>
        <button class="action-button">Chord Reading Basics</button>
    </div>
</div>
{% endblock %}