{% extends "layout.html" %}

{% block title %}Learn{% endblock %}

{% block content %}
<div class="chord-container">
    <div class="selectChordText">Select Chord</div>
    <div class="chord-grid">
        {% for chord in ['A', 'D', 'E', 'Am', 'Em', 'Dm', 'C', 'G'] %}
            <form action="{{ url_for('chord_detail', chord_name=chord) }}" method="get">
                <button type="submit" class="chord-block">{{ chord }}</button>
            </form>
        {% endfor %}
    </div>
    <div class="chord-actions">
        <button class="action-button">Learn in Order</button>
        <button class="action-button">Chord Reading Basics</button>
    </div>
</div>
{% endblock %}