{% extends "layout.html" %}

{% block title %}Learn{% endblock %}

{% block content %}
<div class="chord-container">
    <div class="selectChordText">Select Chord</div>
    <div class="chord-grid">
        {% for chord in chord_items %}
            <form action="{{ url_for('chord_detail', chord_id=chord.id) }}" method="get">
                <button type="submit" class="chord-block">{{ chord.name }}</button>
            </form>
        {% endfor %}
    </div>
    <div class="chord-actions">
        <form action="{{ url_for('chord_detail', chord_id=1) }}" method="get">
            <button type="submit" class="action-button">Learn in Order</button>
        </form>
    </div>
    <div class="chord-actions">
        <button class="action-button">Chord Reading Basics</button>
    </div>
</div>
{% endblock %}